In [3]:
print("hello\
        python")

hello        python

In [5]:
print(""" ˁ˚ᴥ˚ˀ """)

 ˁ˚ᴥ˚ˀ

In [6]:
print("Python's world")

Python's world

In [28]:
print("hello\apython")

hellopython

In [9]:
print("hello\npython")

hello
python

In [10]:
print("hello\tpython")

hello	python

In [11]:
print('python\'s world')

python's world

In [13]:
name= "Divya"
age= 20
marks= 98
print("My name is",name,"my age is",age,"I score atleast",marks, "in all my exams")

My name is Divya my age is 20 I score atleast 98 in all my exams

In [16]:
#formatting method
name= "Divya"
age= 20
marks= 98.45
print("my name is %s, my age is %d and i score atleast %0.1f "%(name,age,marks))

my name is Divya, my age is 20 and i score atleast 98.5

In [20]:
print("my name is %10s, my age is %10d and i score atleast %0.3f "%(name,age,marks))

my name is      Divya, my age is         20 and i score atleast 98.450

In [19]:
print(f"my name is {name}, my age is{ age} and i capable to score {marks}")

my name is Divya, my age is20 and i capable to score 98.45

In [25]:
#variable assignment
_10= 9
print (_10)

9

In [37]:
## symbol of power **
## int/int = float (python 3)
## int/int = int   (python 2)
## // for obtaining lower integer from the quotient

In [2]:
x=y=10
print(x)

10

In [3]:
print(y)

10

In [4]:
id(x)

140716386263728

In [5]:
id(y)

140716386263728

In [6]:
##operators
##arithmetic
5**5

3125

In [8]:
10+20

30

In [9]:
10/2

5.0

In [10]:
10%3

1

In [11]:
10//3

3

In [12]:
##comparator
a=6
b=10
a==b

False

In [13]:
c=10
c==b

True

In [18]:
a=6
b=10
a!=b

True

In [20]:
#bitwise
a=243
b=786
a|b

1011

In [21]:
bin(a)

'0b11110011'

In [22]:
bin(b)

'0b1100010010'

In [23]:
a&b

18

In [ ]:
#logical

#TRUE or TRUE   = TRUE
#TRUE or FALSE  = TRUE
#FALSE or TRUE  = TRUE
#FALSE or FALSE = FALSE

#TRUE and TRUE   = FALSE
#TRUE and FALSE  = FALSE
#FALSE and TRUE  = FALSE
#FALSE and FALSE = TRUE

In [24]:
a=1
b=2 
a>b

False

In [25]:
a>b or 10>9

True

In [26]:
10>9 and 20>D

NameError: name 'D' is not defined

In [27]:
10<9 and 20>D        #when first condition is false, python and C doesnt check second condition

False

In [29]:
not True

False

In [30]:
24<80

True

In [31]:
not 24<80

False

In [32]:
## Membership
str1 = "Divyashree"
"r" in str1

True

In [33]:
str1 = "Divyashree"
"s" not in str1

False

In [52]:
##Identity
a=23
b=23
a==b

True

In [49]:
a is b

True

In [53]:
id(a)

140716386264144

In [54]:
id(b)

140716386264144

In [57]:
a=23.10
b=23.10
a==b

True

In [56]:
a is b

False

In [60]:
id(a)

1410335669840

In [59]:
id(b)

1410335669936

In [64]:
#for int -5 to 256 holds same memory 
a=-3
b= -3
a==b

True

In [65]:
a is b

True

In [66]:
a= 257
b=257
a==b

True

In [67]:
a is b

False

In [68]:
#Precidence
23+20/2*6    ## python2 will give diff answer because int/int=int

83.0

In [69]:
10>8>9    #meaning is 10>8 and 8>9

False